@use "../../styles/variables.scss" as *;

.buttonRow {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;
  margin-bottom: $spacing-md;

  button {
    background-color: $accent-color;
    color: $text-light;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}
